/nbproject/private/
/vendor
/composer.lock
/config.js
/nbproject/
.idea/
node_modules/
.buildpath
.project
.settings/
.vscode/
www.pid
composer.lock
Dockerfile
cleancode.html
design.html
foreground.sh
moodle_variables.env
rules.xml
/cfg/
Kls32.iml
phpunit.xml
local/codechecker
*.code-workspace
